<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdVitaBot Admin Panel</title>
    <link th:href="@{/libs/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/libs/fontawesome/css/all.min.css}" rel="stylesheet">
    <link th:href="@{/css/app.css}" rel="stylesheet">
    <script th:src="@{/libs/js/jquery.min.js}"></script>
    <script th:src="@{/js/core.js}" lang="js"></script>
</head>
<body>
<div class="button-navbar">
    <button class="btn-sm btn-primary rounded-circle" onclick="logout()"><i class="fas fa-sign-out-alt"></i></button>
</div>
<div class="container-fluid vh-100">
    <div class="" style="margin-top:200px">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-10 col-sm-12 shadow-lg p-5 bg-light">
                <a style="float: left" class="btn btn-outline-secondary" th:href="@{/menu}">&lt;</a>
                <div class="text-center">
                    <h3 class="text-primary">Текстовки</h3>
                </div>
                <div class="localization-list">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Код</th>
                            <th scope="col">Значение</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="localization : ${localizations}">
                            <td class="align-middle text-center" th:text="${localization.code}"></td>
                            <td>
                                <textarea class="form-control" th:id="'localization-' + ${localization.code}"  th:text="${localization.message}"></textarea>
                            </td>
                            <td class="align-middle text-center">
                                <button class="btn btn-primary" onclick="updateLocalization(this)" th:data-localization-code="${localization.code}">Сохранить</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/localizations.js}"></script>
</div>
</body>
</html>