<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdVitaBot Admin Panel</title>
    <link th:href="@{/libs/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/libs/fontawesome/css/all.min.css}" rel="stylesheet">
    <link th:href="@{/css/app.css}" rel="stylesheet">
    <script th:src="@{/libs/js/jquery.min.js}"></script>
    <script th:src="@{/js/core.js}" lang="js"></script>
</head>
<body>
<div class="button-navbar">
    <button class="btn-sm btn-primary rounded-circle" onclick="logout()"><i class="fas fa-sign-out-alt"></i></button>
</div>
<div class="container-fluid vh-100">
    <div class="mt-5">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-4 col-sm-8 shadow-lg p-5 bg-light">
                <div class="text-center">
                    <h3 class="text-primary">Меню</h3>
                </div>
                <div class="menu-list d-grid gap-2 mt-2">
                    <a id="localizations-link" th:href="@{/localizations}" class="btn btn-outline-primary text-center">
                        Локализации
                    </a>
                    <a id="bot-props-button" th:href="@{/bot_props}" class="btn btn-outline-primary text-center">
                        Настройки бота
                    </a>
                    <a id="theme-button" th:href="@{/themes}" class="btn btn-outline-primary text-center">
                        Темы
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>